// $font-oldStyle: 
$font-script-oldStyle: Rochester, helvetica, arial, sans-serif;
$font-oldStyle:  'Libre Baskerville', serif;;

$prim-color-oldStyle: #46514B; // vert/gris fonce 
$sec-color-oldStyle: rgba(142, 168, 119, 1); // vert clair   
 
$ter-color-oldStyle:  rgb(226, 222, 204); //  beige
$quatro-color-oldStyle:  rgb(242, 244, 244); //  blanc

$prim-color-txt: lighten($prim-color-oldStyle, 20%);
$sec-color-txt: lighten($sec-color-oldStyle, 10%);

$gris-btn-artemise: #CCCCCC;



@mixin border-top-radius($radius) {
    //left
  -webkit-border-top-left-radius: $radius;
     -moz-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     //right
  -webkit-border-top-right-radius: $radius;
     -moz-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
    //left
  -webkit-border-bottom-left-radius: $radius;
     -moz-border-bottom-left-radius: $radius;
     border-bottom-left-radius: $radius;
     //right
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-bottom-right-radius: $radius;
     border-bottom-right-radius: $radius;
}

@mixin all-border-radius($tl, $bl, $br,  $tr) {
    //top lef;
  -webkit-border-top-left-radius: $tl;
     -moz-border-top-left-radius: $tl;
     border-top-left-radius: $tl;
     //bottom left
  -webkit-border-bottom-left-radius: $bl;
     -moz-border-bottom-left-radius: $bl;
     border-bottom-left-radius: $bl;
     //bottom  right
  -webkit-border-bottom-right-radius: $br;
     -moz-border-bottom-right-radius: $br;
     border-bottom-right-radius: $br;
     //top right
  -webkit-border-top-right-radius: $tr;
     -moz-border-top-right-radius: $tr;
     border-top-right-radius: $tr;
    
}



@mixin transition-color($time){
    transition-property: color;
    transition-duration: $time;
    -webkit-transition-duration: $time;
    -webkit-transition-property: color;
    
}

@mixin transition-background-color($time, $color){
        background-color: $color;
    -webkit-transition: background-color $time linear;
    -moz-transition: background-color $time linear;
    -o-transition: background-color $time linear;
    -ms-transition: background-color $time linear;
    transition: background-color $time linear;
    
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin radial-gradient($grad , $col1 , $col2){
  background: -webkit-radial-gradient($grad, $col1 , $col2); /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient($grad, $col1 , $col2); /* For Opera 11.1 to 12.0 */
  background: -moz-radial-gradient($grad, $col1 , $col2); /* For Firefox 3.6 to 15 */
  background: radial-gradient($grad, $col1 , $col2);
    
}
@mixin linear-gradient( $col1 , $col2){
    background: -webkit-linear-gradient( $col1 , $col2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( $col1 , $col2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( $col1 , $col2); /* For Firefox 3.6 to 15 */
    background: linear-gradient( $col1 , $col2);
}


//blur effet
@mixin filter-blur( $param){
    filter: blur($param);
    -webkit-filter: blur($param);
    -moz-filter: blur($param);
    -o-filter: blur($param);
    -ms-filter: blur($param);
}



// animation 
@mixin boxPulse($color){
    

  @-webkit-keyframes boxPulse {
  from {  -webkit-box-shadow: 0 0 9px #333; }
  50% {  -webkit-box-shadow: 0 0px 22px ($color, 30%); font-size: 1.25em }
  to {  -webkit-box-shadow: 0 0 9px #333; }
}

  @keyframes boxPulse {
  from {  box-shadow: 0 0 9px #333; }
  50% {  box-shadow: 0 0px 22px lighten($color, 30%); font-size: 1.25em }
  to {  box-shadow: 0 0 9px #333; }
}

  -webkit-animation-name: boxPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  
  animation-name: boxPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;




}